.MonNoiBat_header {
    text-align: center;
    margin-top: 25px;
}

.MonNoiBat_header {
    border-radius: var(--border-radius);
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: -1px 1px 2px 1px #00000038;
}

.MonNoiBat_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.MonNoiBat_item {
    width: calc(100% / 4 - 20px);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: #f1f1f1;
    box-shadow: -1px 1px 2px 1px #00000038;
}

.MonNoiBat_item-img>img {
    width: 100%;
    border-radius: var(--border-radius);
}

.MonNoiBat_item-title {
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.MonNoiBat_item-price {
    margin: 10px 0;
}

.MonNoiBat_item-price > span {
    color: #ff0000;
}

.MonNoiBat_item-add {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: #fff;
}

@media (max-width: 1240px) {
    .MonNoiBat_item {
        width: calc(100% / 2 - 20px);
    }
}