.ThongTinSanPham {
    height: 100%;
    width: 100%;
}

.ThongTinSanPham_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.ThongTinSanPham_content-img >img {
    height: 80px;
    border-radius: var(--border-radius);
}

.ThongTinSanPham_content-info {
    flex: 1;
    padding: 10px;
    text-overflow: ellipsis;
}

.ThongTinSanPham_content-info>p {
    color: var(--primary-color);
    font-weight: bold;
    margin: 4px 0;
}

.ThongTinSanPham_content-mota {
    flex: 2;
    height: 100%;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.ThongTinSanPham_content-mota>p {
    text-overflow: ellipsis;
    flex: 1;
}



.ThongTinSanPham_content-tong {
    flex: 0.5;
    margin-left: 5%;
    font-weight: bold;
    color: var(--primary-color);
}

.ThongTinSanPham_content-soluong {
    flex: 0.5;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.ThongTinSanPham_content-soluong > p {
    color: var(--primary-color);
    margin-left: 4px;
}


