.Xoa {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000030;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Xoa_content {
    padding: 20px;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.Xoa_content > * {
    margin-bottom: 10px;
}

.Xoa_content>div {
    margin: 0;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Xoa_content>p {
    font-size: 18px;
}

.Xoa_content>div >button {
    width: 45%; 
    padding: 10px;
    border-radius: var(--border-radius);
}

.Xoa_content-cancel {
    background-color: #ccc;
}

.Xoa_content-ok {
    background-color: var(--primary-color);
}