.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: var(--with-toolbar);
    border: 1px solid #ccc;
}

.Toolbar_content {
    width: 100%;
    padding: 20px;
}

.Toolbar_content-img {
    text-align: center;
    margin-bottom: 20px;
}

.Toolbar_content-img>img {
    width: 60%;
}

.Toolbar_content-subnav {
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.Toolbar_content-subnav>ul>li {
    display: block;
    padding: 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.Toolbar_content-subnav>ul>li:hover {
    background-color: #eeeeee;
}
