.UpdateAddress {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #00000030;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UpdateAddress_content {
    width: 700px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 20px;
}