.ChonSoLuong {
    justify-content: center;
    align-items: center;
    background-color: #00000030;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.ChonSoLuong_content {
    width: 400px;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px #00000062;
}

.ChonSoLuong_content-detail> * {
    margin: 10px 0;
}

.ChonSoLuong_content-header {
    color: var(--primary-color);
}

.ChonSoLuong_content-detail_img>img {
    width: 100%;
    border-radius: var(--border-radius);
}

.ChonSoLuong_content-detail_right-top-bottom > h3 >span{
    color: var(--primary-color);
}

.ChonSoLuong_content-detail_right-center-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChonSoLuong_content-detail_right-center-right span {
    color: var(--primary-color);
    padding: 0 10px;
}

.ChonSoLuong_content-detail_right-center-right button {
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: #fff;
    padding: 8px;
}

.ChonSoLuong_content-detail_add {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
}

.ChonSoLuong_content-detail_add>i {
    margin-right: 10px;
}