.QuanLyTaiKhoan_content {
    padding: 20px;
}

.QuanLyTaiKhoan_content>h2 {
    margin-bottom: 20px;
    text-align: center;
}

.QuanLyTaiKhoan_content-them {
    background-color: var(--primary-color);
    padding: 10px;
    width: 100px;
    color: #fff;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}