.Them {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000030;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-y: auto;
}

.Them_content {
    width: 800px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #fff;
    border-radius: var(--border-radius);
    padding: 20px;
    padding-bottom: 0;
    box-shadow: var(--box-shadow);
    border: 1px solid #ccc;
}

.imgEdit {
    display: block;
    width: 210px;
    height: 210px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
}


.imgEdit :global(.ant-upload) {
  width: 100%;
  height: 100%;
  display: block;
}



